-var noticia = [ "PLAYSTATION","Lorem ipsum, dolor sit amet consectetur adipisicing elit.","Nam aliquam, quaerat qui voluptatum optio maxime eveniet. Reiciendis officiis, nemo vitae exercitationem minus quis rem, aut id doloribus, non distinctio"]

-var noticia2 = [ "XBOX","Lorem ipsum, dolor sit amet consectetur adipisicing elit.","Nam aliquam, quaerat qui voluptatum optio maxime eveniet. Reiciendis officiis, nemo vitae exercitationem minus quis rem, aut id doloribus, non distinctio"]

-var noticia3 = [ "WII","Lorem ipsum, dolor sit amet consectetur adipisicing elit.","Nam aliquam, quaerat qui voluptatum optio maxime eveniet. Reiciendis officiis, nemo vitae exercitationem minus quis rem, aut id doloribus, non distinctio"]