
include configuraciones.pug
include cajas.pug
include noticias.pug
include estadisticas.pug
doctype html
html
   include head.pug
   body
    include header.pug
    block contenidos
    include footer.pug