.fotos{
@include caja;
width:487px ;
height: 224px;

h2{

    margin-bottom: 10px;
        @include titulos ($Fuente2);
        font-weight: 600;
        font-size: 20px;
}

img{
    float: left;
    margin: 5px 12px;
}
&__principal{
    margin-top: -20px;

}

}


